<html>
  <head>
    <title>
      Shopply
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/jquery.js"></script>
    <script src="/bootstrap.js"></script>
    <link rel="stylesheet" href="/bootstrap.css">
  </head>
  <body background="https://st.depositphotos.com/1394918/2412/v/950/depositphotos_24120535-stock-illustration-blue-shopping-pattern.jpg">
    <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Shopply</a>
    <div class="form-inline">
      <a href="/products" class="btn btn-outline-info my-2 my-sm-0" style="margin-left: .5rem !important;">Home</a>
      <a href="/admin" class="btn btn-outline-info my-2 my-sm-0" style="margin-left: .5rem !important;">Admin</a>
      <a href="/cart" class="btn btn-outline-info my-2 my-sm-0" style="margin-left: .5rem !important;">Cart</a>
    </form>
  </nav>
  <div class="container" style="width:80%; float: left;">
    <div class="card-deck">
      <div class="row">
        <% let totalPrice = 0 %>
        <% for(var i=0; i < products.length; i++) { %>
          <div>
           <div class="card" style="margin-bottom: 3em !important;">
             <img class="card-img-top" alt="Card image cap" style = "display: block; width:328px; height: 195px;" src = <%= products[i].url %> >
             <div class="card-body card-footer" style = "display: block; width:328px;">
               <h5 class="card-title"><%= products[i].name %></h5>
               <p class="card-text"><%= products[i].description %></p>
               <p class="card-text">Price: Rs. <%= products[i].price %></p>
               <div>
                 <span>Quantity :
                 <button type="submit" class='decr btn btn-info' id="<%= products[i].id %>" name="id" value= <%= products[i].id %>>-</button>
                 <span class="card-text"><%= products[i].quantity %></span>
                 <button type="submit" class='incr btn btn-info' id="<%= products[i].id %>" name="id" value= <%= products[i].id %> >+</button>
               </div>
             </div>
           </div>
         </div>
         <% totalPrice +=  products[i].price * products[i].quantity %>
       <% } %>
     </div>
    </div>
  </div>
    <% if(totalPrice != 0) { %>
        <h2> TotalPrice = Rs. <%= totalPrice %> </h2>
        <a href="/placed" class="btn btn-primary">Place Order</a>
    <% } else { %>
        <h2> Cart is empty,please add some items!.
    <% } %>
  <script type="text/javascript">
    $('.incr').click((event) => {
      id = (event.target.id);
      $.ajax({type:'POST', url: '/incr', data: {id : id}}).done(function(data) {
        window.location.reload();
      });
    })
    $('.decr').click((event) => {
      id = (event.target.id);
      $.ajax({type:'POST', url: '/decr', data: {id : id}}).done(function(data) {
        window.location.reload();
      });
    })
  </script>
  </body>
</html>
