<html>
  <head>
    <title>
      Shopply
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/jquery.js"></script>
    <script src="/bootstrap.js"></script>
    <link rel="stylesheet" href="/bootstrap.css">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Shopply</a>
    <div class="form-inline">
      <a href="/products" class="btn btn-outline-info my-2 my-sm-0" style="margin-left: .5rem !important;">Home</a>
      <a href="/admin" class="btn btn-outline-info my-2 my-sm-0" style="margin-left: .5rem !important;">Admin</a>
      <a href="/cart" class="btn btn-outline-info my-2 my-sm-0" style="margin-left: .5rem !important;">Cart</a>
    </div>
    <div class="form-inline">
      <a href="/logout" class="btn btn-outline-info my-2 my-sm-0" style="margin-left: .5rem !important;">Logout</a>
    </div>
  </nav>
  <div class="container">
    <% if(products.length == 0) { %>
      <h3 class="font-italic"> Please add some products from the admin page!! </h3>
    <% } %>
    <div class="card-deck">
      <div class="row">
        <% for(var i=0; i < products.length; i++) { %>
          <div>
           <div class="card" style="margin-bottom: 3em !important;  ">
             <img class="card-img-top" alt="Card image cap" style = "display: block; width:350px; height: 195px;" src = <%= products[i].url %> >
             <div class="card-body card-footer">
               <h5 class="card-title"><%= products[i].name %></h5>
               <p class="card-text"><%= products[i].description %></p>
               <p class="card-text">Price: Rs. <%= products[i].price %></p>
               <div>
                 <button type="submit" class='add btn btn-info' id="<%= products[i].id %>" name="id" value= <%= products[i].id %> >Add to Cart</button>
               </div>
             </div>
           </div>
         </div>
       <% } %>
     </div>
    </div>
  </div>
  <script type="text/javascript">
    $('.add').click((event) => {
      id = (event.target.id);
      $.ajax({type:'POST', url: '/cartadd', data: {id : id}});
      alert('Item added to cart successfully');
    })
  </script>
  </body>
</html>
